



<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @rank.nickname %>
</p>

<p>
  <strong>Content:</strong>
  <%= @rank.content %>
</p>

<p>
  <strong>Star:</strong>
  <%= @rank.star %>
</p>


<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
