<p id="notice"><%= notice %></p>

<h1>Listing Ranks about <%= @food %></h1><br>
<h2> 이 음식의 평점은 <%= @star_average %></h2>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Content</th>
      <th>Star</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    
   
    <% if @ranks == nil %>
      <a> 평가가 없습니다 </a>
    <a> <%= @ranks %></a>
    <% else %>
      <% @ranks.each do |rank| %>
        <tr>
          <td><%= rank.nickname %></td>
          <td><%= rank.content %></td>
          <td><%= rank.star %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<a href = <%= "new?food=" + @food %>>평가하기! </a>

